<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension="//"#>
<#+
public string GetCommentHeader(){

    return @"/*******************************************************************************
 * Copyright (c) Microsoft Open Technologies, Inc.
 * All Rights Reserved
 * See License.txt in the project root for license information.
 ******************************************************************************/";
}

#>