<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="EntityRequest.Base.template.tt"#>
<#

OdcmClass entity = host.CurrentType.AsOdcmClass();
var entityName = this.GetEntityNameString(entity);

#>

namespace <#=this.GetNamespaceName(entity)#>
{
    using System;
    using System.Threading.Tasks;

    <#=this.GetEntityReferenceRequestClassDefinition(entity)#>
    {
        <#=this.GetEntityReferenceDeleteAsyncMethod(entity)#>
    }
}
