<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="ICollectionRequestBuilder.Base.template.tt"#>
<#

var prop = host.CurrentType.AsOdcmProperty();

#>
namespace <#=this.GetNamespaceName(prop.Class.AsOdcmClass())#>
{
    <#=this.GetCollectionReferenceInterfaceDefinition(prop)#>
    {  
        <#=this.GetCollectionReferenceRequestMethod(prop)#>

        <#=this.GetCollectionReferenceRequestMethodWithOptions(prop)#>
    }
}
