<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="SharedCSharp.template.tt"#>
<#@ include file="ICollectionRequestBuilder.Base.template.tt"#>
<#

var prop = host.CurrentType.AsOdcmProperty();

#>
namespace <#=this.GetNamespaceName(prop.Class.AsOdcmClass())#>
{
    <#=this.GetInterfaceDefinition(prop)#>
    {  
        <#=this.GetReferenceCollectionRequestMethod(prop)#>

        <#=this.GetReferenceCollectionRequestMethodWithOptions(prop)#>
    }
}
