[submodule "submodules/vipr"]
	path = submodules/vipr
	url = https://github.com/microsoft/vipr
	branch = feature/net-core
[submodule "apidoctor"]
	path = apidoctor
	url = https://github.com/microsoftgraph/apidoctor.git
	branch = feature/dotnet-core
