<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="SharedObjC.template.tt"#>
<#
var entity = host.CurrentType.AsOdcmClass();
#>

<#=writer.GetImportsClass(entity.Properties)#>

#import "<#=GetStaticBaseObject()#>.h"
#import "<#=GetStaticCollectionObject()#>.h"

@interface <#=GetObjCTypeIdentifier(entity)#> : <#=GetStaticBaseObject()#>

<#
foreach(var prop in entity.Properties)
{
	#>
	<#=GeneratePropertyDeclarationLine(prop)#>
	<#
}

#>

@end
