steps:
- template: use-dotnet-sdk.yml

- checkout: kiota
  displayName: checkout kiota
  fetchDepth: 1

- pwsh: dotnet build $(Build.SourcesDirectory)/src/kiota/kiota.csproj --configuration $(buildConfiguration)
  displayName: 'Build Kiota'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)/src/kiota/bin/$(BuildConfiguration)/net7.0'
    contents: '**/*'
    targetFolder: '$(Build.ArtifactStagingDirectory)'
  displayName: Copy Kiota executable

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: kiota
