steps:
- template: /.azure-pipelines/generation-templates/use-dotnet-sdk.yml@self
  parameters:
    version: "10.x"

- bash: dotnet tool install Microsoft.OpenApi.Kiota --tool-path $(Build.ArtifactStagingDirectory)
  displayName: 'Install latest Kiota from NuGet'
