steps:
- template: use-dotnet-sdk.yml

- checkout: self
  displayName: checkout generator
  fetchDepth: 1
  submodules: recursive
  persistCredentials: true

- pwsh: dotnet build $(Build.SourcesDirectory)/src/Typewriter/Typewriter.csproj --configuration $(buildConfiguration)
  displayName: 'Build Typewriter'

- task: CopyFiles@2
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)/src/Typewriter/bin/$(BuildConfiguration)/net7.0'
    contents: '**/*'
    targetFolder: '$(Build.ArtifactStagingDirectory)'
  displayName: Copy Typewriter executable

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: typewriter
