parameters:
  - name: repoName
    type: string
  - name: restorePath
    type: "string"
    default:
  - name: extraRestoreArgs
    type: "string"
    default:
steps:
- pwsh: '$(scriptsDirectory)/copy-cli-models-kiota.ps1'
  displayName: 'Update models'
  env:
    BuildConfiguration: $(buildConfiguration)
    OutputFullPath: $(kiotaDirectory)/output/*
    RepoModelsDir: $(Build.SourcesDirectory)/${{ parameters.repoName }}/src/generated/

- task: DotNetCoreCLI@2
  displayName: Restore packages
  inputs:
    command: restore
    includeNuGetOrg: true
    workingDirectory: $(Build.SourcesDirectory)/${{ parameters.repoName }}
    restoreArguments: --use-lock-file --locked-mode ${{parameters.extraRestoreArgs}}
    restoreDirectory: ${{parameters.restorePath}}

- pwsh: 'dotnet build --configuration $(buildConfiguration) --no-restore ./msgraph-cli.csproj --runtime linux-x64'
  displayName: Build project ${{ parameters.repoName }}
  workingDirectory: $(Build.SourcesDirectory)/${{ parameters.repoName }}/src
