# designed to have a single run (single output directory)
parameters:
- name: targetNamespace
  type: string

- name: targetClassName
  type: string

- name: language
  type: string

- name: version
  type: string

- name: repoName
  type: string

- name: branchName
  type: string

- name: languageSpecificSteps
  type: stepList
  default:
  - pwsh: |
      Write-Error "No language specific step is provided"

- name: cleanMetadataFolder
  type: string

- name: baseBranchName
  type: string
  default: ''

- name: customArguments
  type: string
  default: ''

steps:
- template: set-up-for-generation.yml
  parameters:
    cleanMetadataFolder: ${{ parameters.cleanMetadataFolder }}
    downloadSteps:
    - template: download-kiota.yml

- checkout: ${{ parameters.repoName }}
  displayName: 'checkout ${{ parameters.repoName }}'
  fetchDepth: 1
  persistCredentials: true

# need this for the shared scripts (maybe we should move them to msgraph-metadata)
# no need for recursive, just scripts from the main repo
- checkout: self
  displayName: 'checkout generator'
  fetchDepth: 1
  persistCredentials: true

- pwsh: '$(scriptsDirectory)/checkout-custom-base-branch.ps1'
  displayName: 'Checking out custom base branch ${{ parameters.baseBranchName }}'
  env:
    RepoDirectory: $(Build.SourcesDirectory)/${{ parameters.repoName }}
    BranchName: ${{ parameters.baseBranchName }}
  workingDirectory: ${{ parameters.repoName }}
  condition: ne( '${{ parameters.baseBranchName }}' , '')

- pwsh: '$(scriptsDirectory)/create-branch.ps1'
  displayName: 'Create a branch in ${{ parameters.repoName }}'
  env:
    RepoDirectory: $(Build.SourcesDirectory)/${{ parameters.repoName }}
    BranchName: ${{ parameters.branchName }}
  workingDirectory: ${{ parameters.repoName }}

- bash: '$(kiotaDirectory)/kiota --openapi $(Build.SourcesDirectory)/msgraph-metadata/${{ parameters.cleanMetadataFolder }}/openapi.yaml --language ${{ parameters.language }} -o $(kiotaDirectory)/output -n ${{ parameters.targetNamespace }} -c ${{ parameters.targetClassName }} ${{ parameters.customArguments }}'
  displayName: 'Run Kiota for ${{ parameters.language }} ${{ parameters.version }}'

- ${{ parameters.languageSpecificSteps }}

- pwsh: '$(scriptsDirectory)/git-push-files.ps1'
  displayName: 'Git: push generated files'
  env:
    BranchName: ${{ parameters.branchName }}
    PublishChanges: $(publishChanges)
    OverrideSkipCI: $(overrideSkipCI)
  workingDirectory: ${{ parameters.repoName }}
