steps:
- pwsh: '$(scriptsDirectory)/copy-objc-models.ps1'
  displayName: 'Update models'
  env:
    BuildConfiguration: $(buildConfiguration)
    OutputFullPath: $(typewriterDirectory)/output
    RepoModelsDir: $(Build.SourcesDirectory)/msgraph-sdk-objc-models/GeneratedModels/
- pwsh: |
      gem install xcodeproj
      ruby .\add_generated_models.rb | Write-Host
  displayName: 'Add new files to project'
  workingDirectory: ${{ parameters.repoName }}
