parameters:
  - name: repoName
    type: string

steps:
- pwsh: '$(scriptsDirectory)/copy-beta-php-kiota.ps1'
  displayName: 'Update models'
  env:
    BuildConfiguration: $(buildConfiguration)
    OutputFullPath: $(kiotaDirectory)/output/*
    RepoModelsDir: $(Build.SourcesDirectory)/${{ parameters.repoName }}/src/Generated/
