<#
CustomT4Host host         = (CustomT4Host) Host;
OdcmModel model           = host.CurrentModel;
CodeWriterObjC writer     = (CodeWriterObjC) host.CodeWriter;
String prefix             = writer.GetPrefix();
#>
<#=writer.WriteHeader()#>