<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="BaseModel.template.tt"#>
<#@ output extension="\\" #>
<#
    OdcmClass current = (OdcmClass)currentType;
    var currentName = current.Name.ToUpperFirstChar();
#>
<#=writer.WriteHeader()#>
<#=CreatePackageDef(host)#>

/**
 * I AM THE CLIENT
 */
<#=CreateInterfaceDef("I" + currentName + "Client", "IBase" + currentName + "Client")#>

}