<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="BaseModel.template.tt"#>
<#@ output extension="\\" #>
<#host.TemplateName = ITypeReferenceRequestBuilder(c);#>

<#=writer.WriteHeader()#>
<#=CreatePackageDef(host)#>

<#=CreateInterfaceDef(ITypeReferenceRequestBuilder(c), IBaseTypeReferenceRequestBuilder(c))#>

}
