<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="BaseModel.template.tt"#>
<#@ output extension="\\" #>
<#
    OdcmClass current = (OdcmClass)currentType;
    var currentName = current.Name.ToUpperFirstChar();
#>
<#=writer.WriteHeader()#>
<#=CreatePackageDef(host)#>

/**
 * I am created by hand
 *
 * I always extend the interface of the auto generated type I map to
 *
 */
<#=CreateInterfaceDef("I" + currentName + "Request", "IBase" + currentName + "Request")#>

}
