<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="BaseModel.template.tt"#>
<#@ output extension="\\" #>
<#host.TemplateName = ITypeCollectionReferenceRequestBuilder(c);#>
<#=writer.WriteHeader()#>
<#=CreatePackageDef(host)#>

<#=CreateInterfaceDef(ITypeCollectionReferenceRequestBuilder(c), IBaseTypeCollectionReferenceRequestBuilder(c))#>

}
