<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension="\\" #>
package com.onedrive.sdk.test.extensions;

import com.onedrive.sdk.extensions.IOneDriveClient;
import com.onedrive.sdk.options.Option;
import com.onedrive.sdk.test.generated.BaseDriveRequest;

import java.util.List;

/**
 * I am created by hand
 *
 * I extend the generated class BaseDriveRequest
 * I have a hand generated interface IDriveRequest which contains my extra functionality as well
 */
public class DriveRequest extends BaseDriveRequest implements IDriveRequest {

    public DriveRequest(final String requestUrl, final IOneDriveClient client, final List<Option> options) {
        super(requestUrl, client, options);
    }
}
