<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension="\\" #>
package com.onedrive.sdk.test.extensions;

import com.onedrive.sdk.test.generated.IBaseDriveRequestBuilder;

/**
 * I am created by hand
 *
 * I always extend the interface of the auto generated type I map to
 */
public interface IDriveRequestBuilder extends IBaseDriveRequestBuilder {
}
