<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="Shared.template.tt"#>

<#
var entityTypes = model.GetEntityTypes();

foreach(var et in entityTypes)
{

#>
#import "<#=prefix + et.Name #>CollectionFetcher.h"
#import "<#=prefix + et.Name #>CollectionOperations.h"
#import "<#=prefix + et.Name #>Fetcher.h"
#import "<#=prefix + et.Name #>Operations.h"
<#

}

#>

#import "<#=prefix#>Client.h" 
