<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="BaseTemplateCustomHost.tt"#>
<#@ output extension="\\" #>
<#

CustomHost host = (CustomHost)Host;
OdcmModel model = host.Model;

#>

<#=GetCommentHeader()#>
package <#=model.NamespaceName()#>;

/**
 * The type ODataBaseEntity.
*/
public abstract class ODataBaseEntity {

   protected String $$__ODataType;

   protected void setODataType(String value){
        this.$$__ODataType = value;
   }
}
