<#@ template debug="true" hostspecific="true" language="C#" #>
<#
CustomT4Host host   = (CustomT4Host)Host; 
OdcmModel model     = host.CurrentModel;
var writer          = (CodeWriterObjC)host.CodeWriter;
#>
<#=writer.WriteHeader()#>