<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="BaseModel.template.tt"#>
<#@ output extension="\\" #>
<#
    OdcmClass current = (OdcmClass)currentType;
#>
<#=writer.WriteHeader()#>
<#=CreatePackageDef(model)#>

<#=CreateClassDef(current.Name.ToUpperFirstChar())#>

<#=CreatePropertyDef(current.Properties)#>
<#=CreateRawJsonObject()#>

}
